
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="content_top">
    <div class="heading">
        <h3>Thông tin cá nhân</h3>
    </div>

    <div class="clear"></div>
</div>
<div class="container">
    <div class="row">
        <div class="list-group col-md-5">
            <br />
            <a href="#" class="list-group-item list-group-item-action">Hồ sơ của tôi</a>
            <a href="#" class="list-group-item list-group-item-action">Địa chỉ</a>
            <a href="~/tai-khoan-ngan-hang" class="list-group-item list-group-item-action">Tài khoản / Thẻ ngân hàng</a>
            <a href="~/nap-tien" class="list-group-item list-group-item-action">Nạp tiền</a>
            <div class="col-md-8">
                <br />
                <button class="btn btn-danger">Đăng xuất</button>
            </div>

        </div>
    </div>
</div>

